body {font-family: 'Consolas', 'Courier New', monospace;}

.admin-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 80px; 
}
.header-admin h1{
    text-align: center;
    color: #42F1DD;
}

.card-header-admin {
    display: flex;
    align-items: center;
    background-color: #11413D;
    justify-content: space-between;
    padding: 3px; 
    border-bottom: 5px solid #269689;
}

.card-header-left, .card-header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-toggle-btn {
    background-color: transparent;
    border: none;
    color: #00e0b7;
    cursor: pointer;
    margin: 0 10px;
    padding: 0;
    transition: color 0.2s;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.grid-full-width { grid-column: 2 / -1; }

.admin-card {
    background-color: #154844;
    border: 5px solid #269689;
    border-radius: 4px 4px 0 0;
    display: flex;
    flex-direction: column;
}

.card-titulo {
    color: #42F1DD;
    font-size: 1.2em;
    flex-grow: 1;
    margin: 0 10px;
}

.card-icon {
    font-size: 1.5em;
    color: #00e0b7;
}

.new-btn {
    background: #147068;
    color: #42F1DD;
    border: none;
    padding: 2px 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 23px;
    font-size: 1em;
    margin-right: 10px;
    align-items: center;
    transition: all 0.18s ease;
}
.new-btn:hover{
    background: #2b867f;
    color: #fff;
}
.plus-new{
    margin-right: 10px;
}

svg{
    position: relative;
    bottom: 1.5px;
}

.search-box-container {
    max-height: 0; 
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    width: 100%;
    border-top: 1px solid #269689;
}
.search-box-container.visible {
    max-height: var(--search-height); 
    padding-top: 1px;
    padding-bottom: 1px;
}

.search-box {
    border-bottom: 4px solid #269689;
    padding: 5px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    background-color: #11413D; 
    width: 100%;
}

.card-list {flex-grow: 1;}

.btn-icon{
    filter: brightness(1);
    transform: scale(100%);
    transition: all 0.3s ease;
}
.btn-icon:hover {
   filter: brightness(10);
   transform: scale(110%);
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    background-color: #155953;
    color: #42F1DD;
    margin: 10px 0;
    border-radius: 15px;
}
.list-item:last-child {
    border-bottom: none;
}

.item-text {flex-grow: 1;margin-left: 15px;}

.no-data {
    color: #169788;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
}

.item-actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 0 5px;
}

.card-footer-admin {
    display: flex;
    flex-direction: row;
    background-color: #227770;
    text-align: center;
    padding: 4px 0;
}
.btn-ver-mas {
    background: none;
    border: none;
    color: #42F1DD;
    font-size: 1em;
    cursor: pointer;
    transition: color 0.2s;
}
.btn-ver-mas:hover {color: #d4f0ec;}

.count-info {
    color: #42F1DD;
    background-color: #082E2D;
    font-size: 0.9em;
    display: flex;
    align-items: center;
}

.count-number {
    color: #42F1DD;
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    margin: 0px 20px;
}

.btn:disabled{
    background-color: #09665E !important;
    border: none !important;
}

.form-select:disabled{
    background-color: #0b302d !important;
    border: none !important;
    color: #257e73 !important;
}

@media (max-width: 820px) {
    .dashboard-grid{
        grid-template-columns: repeat(1, 1fr); 
    }
    .list-item{
        font-size: 0.8rem;
    }
    .admin-container{
        font-size: 0.9rem;
        margin: 0;
        padding: 5px;
        padding-top: 70px;
    }
    .header-admin h1{
        font-size: 1.4rem;
    }
    .new-btn{
        font-size: 0.7em;
        margin-right: 5px;
    }
    .plus-new{
        margin-right: 5px;
    }
    .card-titulo{
        font-size: 0.95rem;
        margin: 0 5px;
    }
    .grid-full-width { grid-column: 1 / -2; }
}