
.top-vistas-grid {
    display: flex; /* Para ponerlos en fila */
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 10px;
}
.estadisticas-container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #052e2a;
    color: #42F1DD;
    min-height: 100vh;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}
.bar-carga{
	background-color: #0b5550 !important;
	--bs-progress-bar-bg: #2ca395 !important;
}
.container-topVistas{
  background-color: #08645e;
  padding-bottom: 12px;
  border-radius: 20px;
}
.icono-vistas{
    height: 70px;
}
.vistas-superior{
    height: 50%;
}
.vistas-inferior {
    align-items: start;
    text-align: start;
   font-size: 0.85rem;
   height: 50%;
}
.item-vistas{
    height: auto;
}