
.top-vistas-grid {
    display: grid; 
    gap: 20px;
    overflow-x: auto;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.estadisticas-container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #052e2a;
    color: #42F1DD;
    min-height: 100vh;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}

.bar-carga{
	background-color: #0b5550 !important;
	--bs-progress-bar-bg: #2ca395 !important;
}

.container-topVistas{
  background-color: #08645e;
  padding-bottom: 12px;
  border-radius: 20px;
  width: 950px !important;
}

.icono-vistas{height: 70px;}
.vistas-superior{height: 50%;}
.vistas-inferior {
    align-items: start;
    text-align: start;
    font-size: 0.85rem;
    height: 50%;
}
.stats-section{
    max-width: 700px;
    margin: auto;
}
.item-vistas{height: 200px; width: 170px;}

@media (max-width: 540px) {
    .top-vistas-grid{
        grid-template-columns: repeat(auto-fit, minmax(150px, 0fr));
    }
    .estadisticas-container{
        padding: 40px 5px;
        font-size: 0.75rem;
    }
    .estadisticas-container h1{
        font-size: 1.5rem;
    }
    .container-topVistas{
        width: 360px !important;
        margin: auto;
    }
    .container-topVistas h2{
        font-size: 1.4rem;
    }
    .stats-section{
        max-width: 300px;
    }
    .vistas-inferior {
        font-size: 0.6rem;
    }
    .item-vistas{height: 170px; width: 150px;}
}