/* .bg-gradient {
    background: linear-gradient(135deg, #E0C370, #B8860B);
}

.form-card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
}

.form-card form {
    max-width: 400px;
    margin: 0 auto;
} */
.form-check-label{
    color: azure;
}
