.search-input-group2 {
    flex-grow: 1;
    display: flex;
    height: 40px; 
    background-color: #22887F;
    border: none; 
    border-radius: 6px;
    margin-right: 5px;
    margin-left: 10px;
    position: relative;
    left: 970px;
    
}
.search-input-group2 .form-control.search-buscar {
    background: #22887F;
    border: none;
    color: #42F1DD;
    padding: 0.375rem 0.75rem;
    flex-grow: 1;
    border-radius: 0; 
    margin-right: 10px;
    border-radius: 6px;
}
.search-input-group2 .form-control.search-buscar::placeholder{
    color: #25b9ad;
}
.search-input-group2 .search-buscar:focus {
    outline: none;
    background: #22887F;
    box-shadow: none;
}
.search-input-group2 .btn-icon-buscar {
    position: relative;
    top: 5px;
    right: 5px;
}
