* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.body-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
}

.perfil-container {
    color: #42F1DD;
    width: 100%;
}

.perfil-header {margin-bottom: 30px;}

.volver-link {
    color: #42F1DD;
    text-decoration: none;
    font-size: 1.1em;
    display: flex;
    align-items: center;
}

.perfil-main {
    display: flex;
    justify-content: center;
    gap: 80px; 
    margin-bottom: 40px;
}

.perfil-info {flex-grow: 0.6;}

.campo {
    display: flex; 
    align-items: center;
    margin-bottom: 40px; 
}

.campo-label {
    width: 28%; 
    min-width: 150px; 
    color: #42F1DD;
    font-size: 1.2em;
    white-space: nowrap; 
}

.campo-valor {
    width: 65%;
    padding: 10px;
    background-color: #07433E;
    color: #169788;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    height: 40px;
    display: flex;
    align-items: center;
}
.campo-valor:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(11, 189, 165, 0.473);
}
.campo-valor:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px rgba(11, 189, 165, 0.473);
}
.perfil-info::placeholder {color: #169788; }

.perfil-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.avatar-circulo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 10px solid #07433E; 
    background-color: #020911; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: #42F1DD;
}
.user-photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: none;
}

.editar-perfil-btn {
    background-color: #07433E; 
    color: #42F1DD;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    padding: 5px 15px;
    border-radius: 4px;
    width: 100%;
    margin-top: 5px;
    transition: all 0.3s ease;
}
.editar-perfil-btn:hover {
    background-color: #2b867f;
    color: #fff;
}
.opciones-perfil{
    width: 210px;
}

.perfil-info h2 { 
    font-size: 1.1em;
    margin-top: 25px; 
    margin-bottom: 15px;
    font-weight: normal;
    color: #09665E; 
}

.actividades-recientes-grid { 
    display: grid;
    gap: 30px;
    margin-top: 30px; 
    margin-bottom: 20px;
    justify-content: center;
    overflow-y: hidden;
    padding: 30px;
    max-width: 1400px; 
    max-height: auto;
    transition: max-height 0.3s ease-in-out;
    grid-template-columns: repeat(auto-fit, minmax(240px, 0fr));
}
.actividades-recientes-grid.scroll-enabled {
    max-height: auto; 
    overflow-y: auto; 
}

.actividad-item {
    flex: 1;
    width: 236px;
    height: 315px; 
    background-color: transparent; 
    border-radius: 8px; 
    overflow: hidden; 
    border: 10px solid #07433E; 
    display: flex;
    flex-direction: column;
    transition: transform 180ms ease, box-shadow 180ms ease, border-color 180ms ease;
    cursor: pointer;
}
.actividad-item:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.55);
}
.actividad-item.active {
    border-color: #1ca893;
    box-shadow: 0 0 20px  rgba(8,120,110,0.35);
}
.actividad-item-superior {
    height:70%; 
    background-color: #020911;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actividad-item-inferior {
    height: 40%;
    background-color: #07433E; 
    color: #dffcf7;
    padding: 5px;
}

.detalle-pieza-marca {
    display: flex;
    align-items: center; 
}

.icono-pieza-historial {height: 170px;}

.logo-marca-historial {
    height: 20px;
    border-radius: 4px; 
}

.btn-toggle-historial {
    background-color: #0b6860ff;
    color: #ffdfdfff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.2s;
}

.btn-toggle-historial:hover {background-color: #07433E;}
/* Responsividad */
@media (max-width: 768px) {
    .perfil-main {flex-direction: column;gap: 20px;}
    
    .perfil-avatar {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    
    .campo {flex-direction: column; align-items: flex-start;}
    .campo-label, .campo-valor { width: 100%; }
    .campo-label {margin-bottom: 5px;}
    .actividades-recientes-grid {
        flex-direction: column; 
        margin-top: 0; 
        padding: 10px;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr))
    }
    .actividad-item {height: 220px; width: 155px;}
    .icono-pieza-historial {height: 100px;}
    .actividad-item-superior{height: 55%;}
    .actividad-item-inferior{height: 100%; font-size: 0.70rem;}
    .logo-marca-historial {height: 15px;}
    .avatar-circulo {
        width: 120px;
        height: 120px;
    }
    .user-photo {
        width: 100px;
        height: 100px;
    }
}