.pieza-registro-container {
    display: flex;
    justify-content: center;
    gap: 200px; 
    max-width: 1500px; 
    margin: 50px auto 20px auto; 
}

.col-formulario {
    flex: 1;
    max-width: 510px;
    padding: 20px 0;
}

.col-imagen-comentarios {
    flex: 1; 
    max-width: 510px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.form-left p {
    color: rgba(66, 241, 221, 0.6);
    margin-bottom: 25px;
}

.caja-imagen-placeholder {
    border: 10px solid #07433E;
    border-radius: 4px; 
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020911; 
    cursor: pointer;
}

.caja-imagen-placeholder .icono-mas {
    font-size: 6rem; 
    line-height: 1;
    color: #42F1DD;
    font-weight: 200;
}

.form-control2.textarea-comentarios {
    height: 150px; 
    resize: none; 
    padding-top: 10px;
}

.col-formulario .d-grid.gap-2 {margin-top: 30px;}
.adaptableMarca{
    background: #073532;
    border: none;
    color: #42F1DD;
    padding: 10px 12px;
    border-radius: 4px;    
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    appearance: none;
    background-clip: padding-box;
}
.select-wrapper2 { position: relative; display: inline-block; width: 100%; }
.select-wrapper2 .chev {
    position: absolute;
    right: 12px;
    top: 30%;
    width: 10px;
    height: 10px;
    border-right: 2px solid #42F1DD;
    border-bottom: 2px solid #42F1DD;
    transform: rotate(45deg);
    pointer-events: none;
    transition: transform 0.18s ease;
    opacity: 0.9;
}
.select-wrapper2.open .chev{
    transform:  rotate(-135deg);  
    top: 40%;;
}
.select-wrapper2 select.adaptableMarca{ padding-right: 40px; }

.despliegue-otro{
    margin-top: 5px;
    background: #042220;
}
.container-sugerencias{width: 100%;}

/* Responsive */
@media (max-width: 900px) {
    .pieza-registro-container {
        flex-direction: column;
        gap: 30px;
        padding: 0 24px;
        margin-top: 40px; 
    }

    .col-formulario,
    .col-imagen-comentarios {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }
}