.main-content {
    min-height: calc(100vh - 120px);
    padding: 20px;
}

.page-title {
    color: #42F1DD;
    padding-top: 30px;
    border-radius: 6px;
    font-weight: bold;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}

.tabla-auxiliares {
    background-color: #ffffff;
    font-size: 0.9rem;
}
.estado-badge {
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.modal-content .modal-header {
    background-color: #154844;
    color: #42F1DD;
    border-bottom: 4px solid #269689;
}
.modal-header .btn-close {
    --bs-btn-close-color: #42F1DD; 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2342F1DD'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    filter: none;
}
.modal-body {
    background-color: #0b3835;
    color: #42F1DD;
    border: none;
}
.mb-2 .form-control{
    background: #124b46;
    border: none;
    color: #42F1DD;
}
.mb-2 .form-control:focus{
    outline: none;
    background: #155953;
    border: none;
    color: #42F1DD;
    box-shadow: 0 0 0 3px rgba(11, 189, 165, 0.473);
}
.mb-2 .form-control:disabled{
    background: #0b302d;
    border: none;
    color: #42F1DD;
}

.mb-2 .form-select{
    --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%2342F1DD%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e);
    background-color: #124b46;
    border: none;
    color: #42F1DD;
}
.mb-2 .form-select:focus{
    outline: none;
    background: #155953;
    border: none;
    color: #42F1DD;
    box-shadow: 0 0 0 3px rgba(11, 189, 165, 0.473);
}

.modal-content .modal-footer {
    background-color: #154844;
    border-top: 4px solid #269689;
}

.modal-footer .btn-primary {
    background-color: #09665E;
    border: none;
    transition: all 0.3s ease;
}
.modal-footer .btn-primary:hover {
    background: #2b867f;
    color: #fff;
}
.modal-footer .btn-secondary {
    background-color: rgba(197, 81, 35, 1);;
    border: none;
    transition: all 0.3s ease;
}
.modal-footer .btn-secondary:hover {
    background: #fd976e;
    color: #fff;
}
.fade.modal-backdrop.show {
    opacity: 0.8;
    
}
div:where(.swal2-container).swal2-backdrop-show, div:where(.swal2-container).swal2-noanimation{
    background-color: rgba(0,0,0,0.8);
}