.input-group-text {
    background-color: transparent !important;
    border: none !important;
    color: #fff !important;
    padding: 0.375rem 0.75rem;
}

.input-group-text i {
    color: #fff !important;
}

/* ResetPasswordPage.css */

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    padding-right: 2.5rem;
    /* espacio para el ícono dentro del input */
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #46cbff !important;
    font-size: 1.4rem;
}



.form-label {
    color: rgba(15,228,201,0.9);
    display: block;
    text-align: left;
    margin-bottom: 12px;
    font-weight: 500;
}

.btn-warning {
    background-color: #46cbff;
    border-color: #46cbff;
    color: #000;
    font-weight: bold;
}

.btn-outline-light {
    border-color: #46cbff;
    color: #46cbff;
}

.btn-outline-light:hover {
    background-color: #46cbff;
    color: #000;
}

/* quitar borde verde o rojo en el ojo */
.password-wrapper .is-valid~.password-toggle-icon,
.password-wrapper .is-invalid~.password-toggle-icon {
    color: #46cbff !important;
}