.opinion-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 20px;
    color: #42F1DD;
    box-sizing: border-box;
    text-align: center;
}

.opinion-header {
    margin-bottom: 30px;
}

.back-button {
    background: none;
    border: none;
    color: #00d49f;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    text-align: left;
    width: 100%;
}

h2 {
    font-size: 1.8em;
    font-weight: 500;
    margin: 0;
}

.options-grid {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.option-card {
    flex-grow: 0;
    flex-basis: 150px; 
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 8px; 
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.2s;
    background-color: #07433E;
}

.option-card img {
    width: 160px; 
    height: 160px; 
    object-fit: contain; 
    margin-bottom: 10px;
}

.option-card.selected {
    border-color: #42F1DD;
    box-shadow: 0 0 10px rgba(0, 212, 159, 0.5);
}

.option-text {
    font-weight: bold;
    padding: 2px 3px;
    border-radius: 4px;
    font-size: 1em;
}

.justification-section {
    text-align: left;
    max-width: 600px;
    margin: 0 auto 30px auto;
}

.submit-button {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 20px auto 0 auto;
    font-size: 1.1em;
    font-weight: bold;
}

.submit-button:disabled {
    background-color: #123534;
    cursor: not-allowed;
}

.status-message {
    margin-top: 15px;
    text-align: center;
    font-style: italic;
}

@media (max-width: 540px) {
    .option-card img {
        width: 80px;
        height: 80px;
    }
    .opinion-container{
        padding: 50px 0;
        margin: 0;
    }
}