.generador-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #05211F;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #42F1DD;
}

.generador-container h2 { 
  text-align: center;
  color: #42F1DD;
  margin-bottom: 20px;
}

.generador-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-row {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-input {
  padding: 8px;
  flex: 1;
  border: none;
  border-radius: 6px;
}

.btn {
  padding: 8px 12px;
  position: relative;
  left: 650px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}

.btn-primary { background-color: #0078d4; }
.btn-success { background-color: #28a745; }
.btn-success-light { background-color: #5cb85c; }
.btn-gold { background-color: #FFD700; color: #000; }
.btn-danger { background-color: rgba(197, 81, 35, 1)!important; transition: all 0.3s ease;  }
.btn-danger:hover{ background-color: rgba(197, 81, 35, 1)!important }

.small-input { padding: 8px; border-radius: 6px; border: 1px solid #ccc; }
.number-input { width: 80px; }

.brand-select { padding: 6px; border-radius: 6px; border: 1px solid #ccc; }
.num-campos { display: inline-block; margin-left: 12px; }

.generador-form input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.generador-form button {
  padding: 10px 16px;
  font-size: 16px;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.generador-form button:hover {
  background-color: #005fa3;
}

.generador-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

.generador-actions button {
  padding: 8px 14px;
  font-size: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.generador-actions button:first-child {
  background-color: #ffc107;
}

.generador-actions button:hover {
  opacity: 0.9;
}

.generador-table {
  width: 100%;
  border-collapse: collapse;
}

.generador-table th,
.generador-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.generador-table th {
  background-color: #0078d4;
  color: white;
}

.generador-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.generador-table input {
  width: 100%;
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
